# App environment (dev | stg | prod)
EXPO_PUBLIC_RUN_MODE=dev

# API base URL
EXPO_PUBLIC_API_URL=https://your-api-url.com

# Enable strict env validation (set to true before prebuild)
STRICT_ENV_VALIDATION=true

